* {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("/assets/gameContainerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#gameWindow {
    max-width: 90vw;
    max-height: 90vh;
    aspect-ratio: 16 / 9;
    border: 1px solid black;
    background-image: url("/assets/BG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 20px auto;
}

.gameContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    width: 100vw;
}

.auth-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);

    gap: 10px;
    width: 400px;
    background-color: rgba(171, 227, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.auth-form label {
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #72b475;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#error-message {
    display: none;
    color: rgb(210, 15, 15);
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}